.container {
  width: 1280px;
  margin: 30px auto;
  margin-bottom: 0px;
  cursor: default;
}

.login_div {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.login_div > p:hover {
  cursor: pointer;
}

.banner_div {
  height: 80px;
  padding-left: 150px;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 10px;
  background: linear-gradient(to right, #b7e1ac 70%, #fffee8 );
}

.banner_div > span:first-child {
  color: #61bd48;
}

.menu_div {
  height: 40px;
}

.menu_div > ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.menu_div li {
  font-size: 1.05rem;
  font-weight: bolder;
}

.menu_div li:hover{
  cursor: pointer;
}

.menu {
  width: 100%;
  text-align: center;
  position: relative;
}

.sub_menu {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  height: 0px;
  overflow: hidden;
  top: 100%;
  left: 0%;
  z-index: 10;
  padding: 5px;
}

.menu_div:hover .sub_menu{
  height: 110px;
  transition: 0.5s;
}

.sub_menu li {
  padding: 3px;
  font-weight: 400;
}